
@{
    ViewBag.Title = "abaco";
}


<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Abaco</h2>

<div class="row">
    <div class="col-md-4" style="margin-top:30px">
        <img src="~/src/abaco.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es El Abaco?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            El ábaco para ciegos es un dispositivo de ayuda diseñado para permitir que las personas ciegas o con discapacidad visual puedan realizar cálculos matemáticos y aritméticos de manera efectiva.

            El ábaco para ciegos es similar a un ábaco convencional, pero en lugar de utilizar bolas o cuentas para representar los números, utiliza barras y ranuras táctiles. Cada ranura representa un lugar en el sistema numérico decimal y las barras representan los números del 0 al 9. Las barras se mueven hacia arriba y hacia abajo dentro de las ranuras para realizar cálculos.
        </p>
    </div>
</div>



<div class="row">

    <div class="col-md-12" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Caracteristicas.</h1>
        <p class="lead" style="text-align: justify">* Táctil: El ábaco para ciegos es completamente táctil, lo que permite a las personas con discapacidad visual realizar cálculos utilizando el sentido del tacto. </p>

        <p class="lead" style="text-align: justify">* Versátil: El ábaco para ciegos puede ser utilizado para realizar una amplia variedad de cálculos matemáticos y aritméticos, incluyendo sumas, restas, multiplicaciones y divisiones. </p>
        <p class="lead" style="text-align: justify">* Duradero: Los ábacos para ciegos están diseñados para ser duraderos y resistentes, ya que se utilizan para realizar cálculos en un entorno de aprendizaje o en la vida diaria. </p>

        <p class="lead" style="text-align: justify">* Portátil: El ábaco para ciegos es generalmente liviano y portátil, lo que lo hace fácil de transportar y usar en cualquier lugar.</p>
        <p class="lead" style="text-align: justify">* Fácil de usar: El ábaco para ciegos es fácil de usar y no requiere conocimientos previos de matemáticas o de manejo de herramientas tecnológicas. </p>

        <p class="lead" style="text-align: justify">* Inclusivo: El ábaco para ciegos permite a las personas con discapacidad visual participar plenamente en las actividades educativas y laborales que implican el uso de herramientas matemáticas y aritméticas.</p>
        <p class="lead" style="text-align: justify">* Adaptable: Los ábacos para ciegos pueden ser adaptados a las necesidades individuales de las personas con discapacidad visual, incluyendo la personalización del tamaño, la forma y la colocación de las barras y las ranuras.</p>

    </div>

    

</div>



<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/xYOHY-56Zig" title="Uso de ábaco para estudiantes ciegos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>
