
@{
    ViewBag.Title = "Acerca";
}
<style>
    .col-md-8 {
        border-radius: 20px;
    }
    
    .col-md-12{
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }


</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Acerca De Este Proyecto</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/objetivo.jpg" alt="Descripción de la imagen" width="250" height="250">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Objetivo General</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Crear recursos educativos abiertos (REA) mediante un sitio web y medios audiovisuales para 
            sensibilizar sobre la discapacidad visual y promover la inclusión educativa de estudiantes 
            con deficiencia visual.

        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Objetivos Especificos
        </h1>
        <p class="lead">•	Aportar conocimientos acerca de la discapacidad visual.</p>
        <p class="lead">•	Desarrollar un recurso educativo abierto en un sitio web que contiene medios audiovisuales y actividades educativas con el fin de promover a inclusión educativas de personas con discapacidad visual</p>
        <p class="lead">•	Mostrar material visual propio y de terceros con diferentes actividades didácticas para la sensibilización en el trato de las personas con discapacidad visual.</p>
    </div>
</div>

<div class="row">

    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px; background-color: #FFF4D2 ">
        <h1 style="text-align: center">
            Justificacion 
        </h1>
        <p class="lead">A lo largo del presente trabajo de investigación, se ha podido evidenciar que en la comunidad educativa es necesario trabajar con recursos digitales en donde la lectura es el primordial medio para su entendimiento.</p>
        <p class="lead">Los resultados obtenidos mediante el análisis de las encuestas demuestran que sí existe interés por parte de la comunidad educativa en usar recursos audiovisuales, especialmente para la enseñanza de valores. Por ello, la creación de una plataforma con recursos educativos abiertos (REA) mediante un sitio web, es de vital importancia. Los beneficiarios de su uso no solo los reciben los docentes al utilizar el REA como recurso didáctico para sus clases, sino que los estudiantes también podrán hacer uso de esta. Los alumnos podrán aprender, a través de recursos cinematográficos los valores necesarios para la vida, manejando en este caso la inclusión de personas con discapacidad visual.</p>
        
    </div>
</div>




