
@{
    ViewBag.Title = "anillo";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Anillo Lector</h2>

<div class="row">
    <div class="col-md-4" style="margin-top:20px;">
        <img src="~/src/anillo.jpg" alt="Descripción de la imagen" width="300" height="250">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es El Anillo Lector?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            El anillo desarrollado por el Instituto Tecnológico de Massachusetts (MIT) combina una cámara similar a la de un móvil con un sistema de reconocimiento de caracteres y un sintetizador de voz. De momento se trata de un prototipo que los investigadores esperan se convierta en un producto final en un futuro próximo.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Funcionamiento
        </h1>
        <p class="lead">El anillo se coloca en el dedo índice, de tal modo que el usuario solo tiene que señalar el texto que desea leer. Conforme el dedo y el anillo que está en él van recorriendo las palabras, estas son captadas por la cámara de tal modo que un sistema de procesamiento y reconocimiento de caracteres las va interpretando y convirtiendo en texto hablado. </p>
        <p class="lead">El uso del dedo índice para señalar permite indicar al FingerReader qué parte del texto se quiere leer, además de mantener la cámara colocada directamente sobre las palabras de forma precisa y ajustar la velocidad de lectura, que en el prototipo actual es todavía algo lenta.</p>
        <p class="lead">El FingerReader puede utilizarse para leer cualquier texto que sea 'visible' para la cámara, esté escrito sobre papel u otras superficies como planos o carteles -incluso una pantalla-, siempre y cuando el tamaño de las palabras tenga cabida dentro del ángulo de visión de la cámara que incorpora.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Caracteristicas
        </h1>
        <p class="lead">* Diseño portátil: FingerReader es un dispositivo portátil que se puede sujetar en el dedo del usuario.</p>
        <p class="lead">* Retroalimentación háptica: La retroalimentación háptica proporciona una lectura en tiempo real del texto y guía al usuario a través de la línea de texto que se está leyendo.</p>
        <p class="lead">* Reconocimiento de voz: FingerReader utiliza la tecnología de reconocimiento de voz para leer texto impreso y digital en voz alta.</p>

        <p class="lead">* Detección de movimiento: El dispositivo puede detectar el movimiento de la mano del usuario y ajustar la velocidad de la lectura en consecuencia.</p>
        <p class="lead">* Compatibilidad con múltiples idiomas: FingerReader admite múltiples idiomas y puede leer texto en diferentes idiomas.</p>

        <p class="lead">* Integración con software de reconocimiento óptico de caracteres (OCR): El dispositivo funciona en conjunto con el software OCR para escanear el texto impreso y digital y leerlo en voz alta.Batería recargable y removible </p>

    </div>
</div>





<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/WbldDI3POrY" title="´FingerReader´, el anillo que permite leer a los ciegos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>

