
@{
    ViewBag.Title = "baston";
}

<style>
    

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    
    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .jumbotron:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }


</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Baston</h2>

<div class="row">
    
    <div class="col-md-12" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es El Baston?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            El bastón para personas con discapacidad visual, también conocido como "bastón blanco", es una herramienta de movilidad que ayuda a las personas con discapacidad visual o ceguera a desplazarse de forma segura y autónoma en su entorno. Se trata de un palo largo y delgado, generalmente hecho de fibra de vidrio o de materiales similares, que se extiende desde la mano del usuario hasta el suelo. El extremo inferior del bastón suele estar equipado con una punta de goma para amortiguar el impacto con el suelo y proporcionar una mayor tracción. A continuación explicaremos los tipos que hay.

        </p>
    </div>
</div>


<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0; margin-top:30px">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/baston-blanco.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baston Blanco</h1>

            <p class="lead" style="text-align: justify;">
                es el tipo más común de bastón para personas con discapacidad visual. El bastón blanco es un palo largo y delgado, generalmente hecho de fibra de vidrio o de materiales similares, que se extiende desde la mano del usuario hasta el suelo. El extremo inferior del bastón suele estar equipado con una punta de goma para amortiguar el impacto con el suelo y proporcionar una mayor tracción.
            </p>
         </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/baston-verde.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baston Verde</h1>

            <p class="lead" style="text-align: justify;">
                el bastón verde se utiliza para indicar que la persona que lo lleva tiene una discapacidad visual parcial o alguna otra discapacidad que afecta su movilidad. Es un bastón que puede ser plegable o telescópico y tiene una punta o extremo más ancho que el bastón blanco.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/baston-rojo.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baston Rojo</h1>

            <p class="lead" style="text-align: justify;">
                el bastón rojo se utiliza para indicar que la persona que lo lleva tiene una discapacidad visual y auditiva. El bastón rojo es similar al bastón blanco, pero tiene una bola roja en la parte superior para indicar la discapacidad auditiva.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/baston_electronico1.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baston Electronico</h1>

            <p class="lead" style="text-align: justify;">
                este tipo de bastón utiliza tecnología para detectar obstáculos y proporcionar información sobre el entorno circundante. Los bastones electrónicos pueden utilizar sensores, cámaras o sistemas de sonido para ayudar al usuario a navegar por el entorno.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/baston-guia.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baston Guia</h1>

            <p class="lead" style="text-align: justify;">
                también conocido como bastón de apoyo, es un bastón utilizado por personas con discapacidad visual para ayudarles a caminar de forma segura y estable. El bastón de guía es más corto y más ancho que el bastón blanco y se utiliza para apoyarse en lugar de para detectar obstáculos.
            </p>
        </div>
    </div>
</div>



<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/HtnaL_K_CPU" title="Tipos de bastones para discapacidad visual" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>
