
@{
    ViewBag.Title = "braileback";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">BrailleBack</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/braile.png" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es BrailleBack?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            BrailleBack es una aplicación de accesibilidad que ayuda a los usuarios que hacen uso de dispositivos braille. Para su funcionamiento, debe trabajar conjunto con la aplicación TalkBack para dar una experiencia braille y habla combinado.
            Esta aplicación le permite conectar una línea braille apoyado a su dispositivo a través de Bluetooth. El contenido de la pantalla se presentará en la línea braille y se puede navegar e interactuar con el dispositivo mediante las teclas en la pantalla. Es posible introducir texto usando el teclado braille.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Caracterisitcas
        </h1>
        <p class="lead">* Compatibilidad con pantallas Braille Bluetooth: BrailleBack funciona con pantallas Braille Bluetooth y admite varios idiomas de entrada y salida.</p>

        <p class="lead">* Navegación y control de gestos: La aplicación proporciona un conjunto de gestos para la navegación de pantalla, la selección de texto y el control de gestos del dispositivo Android.</p>
        <p class="lead">* Compatibilidad con aplicaciones de Android: BrailleBack funciona con aplicaciones nativas de Android y aplicaciones de terceros, lo que permite una experiencia de usuario completa en el dispositivo. </p>

        <p class="lead">* Personalización de las preferencias del usuario: La aplicación permite la personalización de las preferencias del usuario, como la configuración de la velocidad de lectura y la configuración de Braille. </p>
        <p class="lead">* Retroalimentación de audio: La aplicación puede proporcionar retroalimentación de audio al usuario mediante el uso de la síntesis de voz. </p>

        <p class="lead">* Conexión con otros dispositivos de entrada: BrailleBack se puede conectar con otros dispositivos de entrada, como teclados externos y dispositivos Braille USB.</p>
        
    </div>
</div>




<div class="row">


    <div style="max-width: 550px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/WFC1AMI84VE" title="Brailleback, una aplicación móvil para invidentes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
</div>