
@{
    ViewBag.Title = "causas";
}
<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px;  background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Causas</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/DiscapacidadVisual.png" alt="Descripción de la imagen" width="480" height="300" style="margin-left: 350px;"  >
    </div>
 </div>

<div class="row">

    <div class="col-md-12" style="background-color: #C3ACD0; margin-top: 30px; text-align: justify;">
        <h1 style="text-align: center;">Causas De Discapacidad Visual Mas Comunes</h1>
        <p class=" lead">* Discapacidad visual en glaucoma, debido a la subida de presión del líquido normal dentro de los aros. Además, el tipo de visión es generalmente como un túnel, con visión intacta en el centro. Por lo tanto, las periferias comienzan a disminuir hasta que se pierde la visión.</p>
        <p class=" lead">* Degeneración macular relativa a la edad, un área de opacidad lanosa o algodonosa obscurece el centro de la visión. Las periferias pueden ser consideradas normalmente.</p>
        <p class=" lead">* Catarata, es la opacidad del lente natural del ojo, en consecuencia la visión puede ser difusa hasta perderla totalmente. Puede haber otros síntomas como la fotofobia y la diplopía, estas son muy comunes en personas más viejas. </p>
        <p class=" lead">* Retinopatía diabética, dañan las arterias y vasos sanguíneos más pequeños en el dorso de los aros sobre la retina. La retinopatía diabética es la enfermedad ocular diabética más común.</p>
        <p class=" lead">* Miopía o el sightedness, afección en la que objetos cercanos se ven claramente, pero no los que están lejos. La alta miopía puede llevar a la debilitación de la visión.</p>
        <p class=" lead">* Retinitis Pigmentosa, esto es una condición genética o heredada donde se daña la pared posterior del ojo. Puede que, se manifieste inicialmente como ceguera de noche. </p>
        <p class=" lead">* Adquiridas/Accidentales: Desprendimiento de retina, Glaucoma adulto (lesión por presión ocular) </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/causasniño.jpg" alt="Descripción de la imagen" width="300" height="300"  style="margin-top: 130px;">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Causas En Niños</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Retinopatía de prematuro   </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Retinoblastoma   </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Tumores intracraneales  </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Glaucoma infantil  </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Síndromes diversos   </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">* Mujeres embarazadas que fuman, toman alcohol, droga, antihistamínicos, anfetaminas, antibióticos, rubiola, varicela, sarampión, o alguna otra enfermedad viral antes del 5° mes de embarazo puede ocasionar ceguera.   </p>
    </div>
</div>