
@{
    ViewBag.Title = "codigo";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Código Braille</h2>

<div class="row">
    <div class="col-md-4" style="margin-top:30px">
        <img src="~/src/barile.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es El Codigo Braille?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            El código braille es un sistema de escritura táctil utilizado por personas con discapacidad visual para leer y escribir. El código braille se compone de un conjunto de puntos elevados dispuestos en una matriz de celdas, que se pueden leer al tacto.
            El código braille se utiliza en una amplia variedad de aplicaciones, como libros, periódicos, etiquetas, señalización, entre otros. Es una herramienta fundamental para permitir el acceso a la información y la educación a personas con discapacidad visual.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            ¿Como Se Compone?
        </h1>
        <p class="lead">Cada celda de braille se compone de seis puntos, que se pueden colocar en 64 combinaciones diferentes. Estas combinaciones representan letras, números, signos de puntuación y otros caracteres. En el sistema braille, cada letra del alfabeto latino, así como algunos signos de puntuación y símbolos matemáticos, se representan con una combinación única de puntos.</p>
        <p class="lead">La disposición de los puntos en cada celda se numeran de arriba a abajo y de izquierda a derecha, con los números del 1 al 3 en la columna izquierda y los números del 4 al 6 en la columna derecha. De esta manera, cada combinación de puntos se puede identificar por un número que va del 1 al 64.</p>
       </div>
</div>



<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Importancia
        </h1>
        <p class="lead">
            El código braille es un sistema de escritura táctil que se utiliza para permitir a las personas con discapacidad visual acceder a la información escrita y comunicarse de manera efectiva. La importancia del código braille radica en que permite a las personas ciegas o con discapacidad visual leer y escribir de manera autónoma, lo que les brinda una mayor independencia y autonomía en su vida cotidiana y en su educación.
            Además, el código braille es una herramienta fundamental para la igualdad de oportunidades para las personas con discapacidad visual. Les permite acceder a la misma información y educación que las personas que no tienen discapacidad visual, y les brinda la capacidad de participar plenamente en la sociedad.
        </p>

    </div>
</div>



<div class="row">

    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Caracteristicas.</h1>
        <p class="lead" style="text-align: justify">* Es un sistema de escritura táctil: El código braille se compone de puntos elevados dispuestos en una matriz de celdas, lo que permite a las personas ciegas o con discapacidad visual leer y escribir mediante el tacto.</p>

        <p class="lead"  style="text-align: justify">* Es universal: El código braille se puede utilizar en todo el mundo, lo que lo convierte en un sistema de escritura universal que puede ser utilizado por personas de diferentes idiomas y culturas. </p>
        <p class="lead"  style="text-align: justify">* Es un sistema de escritura compacto: El código braille utiliza una matriz de seis puntos para representar cada letra, número y símbolo, lo que lo hace un sistema de escritura muy compacto. </p>

        <p class="lead"  style="text-align: justify">* Es un sistema de escritura bidimensional: El código braille se compone de celdas que contienen seis puntos, dispuestos en dos columnas de tres puntos cada una. De esta manera, cada celda braille representa un carácter y se puede identificar por un número que va del 1 al 64. </p>
        <p class="lead"  style="text-align: justify">* Permite la escritura de diferentes idiomas y caracteres: El código braille se puede utilizar para escribir diferentes idiomas, así como caracteres matemáticos, científicos y musicales. </p>

        <p class="lead"  style="text-align: justify">* Es un sistema de escritura flexible: El código braille se puede utilizar en diferentes medios, como papel, plástico, metal, y se puede imprimir en diferentes tamaños y estilos de letra. </p>
    </div>

    <div class="col-md-4" style="margin-top:100px">
        <img src="~/src/barile2.jpg" alt="Descripción de la imagen" width="300" height="300" style="margin-top: 100px; margin-left: 80px">
    </div>

</div>



<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/RrVSMBu1fws" title="¿Qué es el Braille?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

</div>