
@{
    ViewBag.Title = "Cortometrajes";
}

<style>


    .jumbotron {
        
        margin-top: 10px;
    }

        .jumbotron:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }
</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Cortometrajes</h2>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-6">
            <iframe style="margin-left:-30px" width="480" height="380" src="https://www.youtube.com/embed/OgCRdTxCEic" title="ONCE Educación - Los colores de las flores" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h1 style="text-align: center; font-size: 48px;">Los Colores De las Flores</h1>

            <p class="lead" style="text-align: justify;">
                Diego, ciego de nacimiento, se enfrenta al desafío de explicar algo que nunca ha visto: cómo son los colores de las flores...
            </p>

        </div>
    </div>
</div>



<div class="jumbotron" style="border-radius: 20px; background-color: #FFF2CC">
    <div class="row">
        <div class="col-md-6">
            <iframe style="margin-left:-30px" width="480" height="380" src="https://www.youtube.com/embed/9U1BSB4OLHA" title="Video de Discapacidad visual para personas con discapacidad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h1 style="text-align: center; font-size: 48px;">Para Personas Con Discapacidad</h1>

            <p class="lead" style="text-align: justify;">
                El video es para ciegos, el cachorro esta una escuela para perro, en donde no da en su entrenamiento , pero todo cambia cuando ve a una persona en peligro....


            </p>

        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-6">
            <iframe style="margin-left:-30px" width="480" height="380" src="https://www.youtube.com/embed/Ou5QAQx9Pc8" title="Camilo un niño ciego | Serie Pichintún" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h1 style="text-align: center; font-size: 48px;">Camilo Un Niño Ciego(Serie Pichitún</h1>

            <p class="lead" style="text-align: justify;">
                Pichintún es una Docuanimación chilena para público infantil que rescata las historias cotidianas de niños que viven en todo Chile, y cuenta su vivencia ya que es ciego....


            </p>

        </div>
    </div>
</div>



