
@{
    ViewBag.Title = "escritura";
}

<style>

    .col-md-6 {
        border-radius: 20px;
    }

    .col-md-6:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Escritura(Punzon y Regleta)</h2>

<div class="row">
    <div class="col-md-4" style="margin-top:50px">
        <img src="~/src/regletapunzon.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es El Punzon y Regleta Braille?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            El punzón y la regleta braille son herramientas utilizadas en el sistema de escritura braille para permitir a las personas con discapacidad visual escribir y leer mediante el tacto.
            El punzón es una herramienta manual utilizada para crear puntos en papel, plástico u otros materiales que permiten a las personas ciegas o con discapacidad visual leer mediante el tacto.
            La regleta braille es una herramienta que se utiliza como guía para escribir en papel. La regleta se compone de una fila de celdas de braille con seis puntos cada una. La regleta se coloca sobre el papel y se utiliza como guía para asegurarse de que los puntos se coloquen correctamente.
        </p>
    </div>
</div>



<div class="row">
    <div class="col-md-6" style="background-color: #C3ACD0; margin-top: 30px; margin-right:10px; margin-left:-10px">
<h1 style="text-align: center; font-weight: 700;">Caracterisiticas Del Punzon</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            1.- Es una herramienta manual: El punzón es una herramienta que se utiliza con la mano para crear puntos en papel o plástico.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            2.- Tiene una punta redondeada: El punzón se compone de una pequeña aguja con una punta redondeada que se utiliza para hacer perforaciones en el material en el que se está escribiendo.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            3.- Permite crear puntos en diferentes materiales: El punzón se puede utilizar para crear puntos en diferentes materiales, como papel, plástico u otros materiales.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            4.- Se utiliza para escribir en braille: El punzón se utiliza en el sistema de escritura braille para crear puntos que forman las letras, números y símbolos del código braille.

        </p>


    </div>

    <div class="col-md-6" style="background-color: #C3ACD0; margin-top: 30px; margin-right: -10px; margin-left: 10px ">
       <h1 style="text-align: center; font-weight: 700;">Caracterisiticas De La Regleta</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            1.- Es una herramienta de guía: La regleta braille se utiliza como guía para escribir en papel.
        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            2.-  Tiene una fila de celdas de braille: La regleta se compone de una fila de celdas de braille con seis puntos cada una.
        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            3.- Se utiliza para escribir y leer en braille: La regleta braille se utiliza como guía para escribir en papel, pero también se puede utilizar para leer texto escrito en braille.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            4.- Permite escribir en diferentes tamaños: La regleta braille se puede encontrar en diferentes tamaños, lo que permite a las personas con discapacidad visual escribir en diferentes tamaños de papel.
        </p>
    </div>
</div>

<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/Gw4LFp9YN78" title="Regleta y punzón para escribir con el sistema braille" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>

