
@{
    ViewBag.Title = "estrategias";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px;  background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Estrategias De Abordaje Dentro Del Aula</h2>

<div class="row">
    <div class="col-md-4" style="margin-top: 70px;">
        <img src="~/src/student.jpg" alt="Descripción de la imagen" width="300" height="300">

    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center; font-weight: 700; font-size: 32px; ">Alumnos Con Discapacidad Visual y Pautas a Seguir En El Aula</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            Tener una buena organización en el aula y en el centro
        </p>
        <p class="lead" style="text-align: justify">
            Si el entorno permanece, en la medida de lo posible,
            estable será más fácil para el alumno orientarse y desplazarse por sí solo.
        </p>

        <p class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            Enseñarle a ser autónomo
        </p>
        <p class="lead" style="text-align: justify">
            No solo a la hora de moverse por el centro, también en su cuidado personal o el uso del material escolar.
        </p>

    </div>


</div>

<div class="row">
    <div class="col-md-12" style="background-color: #C3ACD0; margin-top: 30px;">
        <h2 class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            Desarrollar su capacidad visual
        </h2>
        <p class="lead" style="text-align: justify">
            Si el niño posee restos visuales, por mínimos que sean, el educador debe aprovecharlos. La percepción visual también se puede aprender. De hecho, la ONCE cuenta con diversos programas de estimulación visual para edades tempranas, entre ellos, el programa EVO para niños de entre 4 y 13 años.

            Además, en el aula ordinaria se debe cuidar la luz y la presentación de los materiales. Por ejemplo, ampliando las imágenes en las pizarras electrónicas o permitiendo al alumno que use el ordenador.
        </p>
    </div>
</div>



<div class="row">

    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h2 class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            Estimular el resto de sentidos
        </h2>
        <p class="lead" style="text-align: justify; margin-bottom: 30px; ">
            Es fundamental la estimulación del resto de sentidos del alumno, especialmente el táctil, para que pueda absorber toda la información que le rodea. Es importante disponer de material para trabajar el tacto —por ejemplo, de fichas en relieve—: un paso previo para el aprendizaje del sistema de lectoescritura con braille.
        </p>
        <p class="lead" style="text-align: justify; font-weight: 700;">
            Fomentar el juego simbólico
        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px;">
            Los niños ciegos muestran mayores dificultades y retraso a la hora de desarrollar la capacidad de representar los objetos en su mente. Desde la escuela y en el seno de la familia es prioritario que se ayude a trabajar la imaginación. En este sentido, es recomendable ofrecer al niño juguetes que representen objetos reales e ir introduciendo algunos más abstractos. Los juegos de rol con el educador también le ayudarán a construir situaciones y diálogos ficticios.
        </p>


    </div>
    <div class="col-md-4" style="margin-top: 150px; ">
        <img src="~/src/estudiante.jpg" alt="Descripción de la imagen" width="300" height="300">

    </div>

</div>

<div class="row">
    <div class="col-md-12" style="background-color: #C3ACD0; margin-top: 30px;">
        <h2 class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            Potenciar el trabajo en grupo
        </h2>
        <p class="lead" style="text-align: justify">
            Además de facilitar la inclusión del alumno en el aula, el trabajo cooperativo con sus iguales mejorará sus competencias sociales y sus habilidades comunicativas.
            El niño aprenderá a identificar las emociones de los otros por vía auditiva y a normalizar el contacto físico con sus compañeros.
        </p>
        <h2 class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            ¿Qué recomendar a los alumnos para que ayuden a la integración de compañeros con discapacidad visual?
        </h2>
        <p class="lead" style="text-align: justify">
            Se puede realizar alguna dinámica de sensibilización para el grupo en la que observen el material que utiliza su compañero con discapacidad visual y conocer su funcionamiento, quizá hasta lo pueden utilizar por un momento. Lo más importante es destacar el apoyo que estos materiales representan en el aprendizaje de su compañero, evitando así cualquier tipo de burla o descalificación. Es conveniente que los compañeros, incluso el maestro o maestra, actúen un día en clase con los ojos vendados, simulando que son personas ciegas, con el fin de que experimenten lo que significa la ausencia de visión y valoren el esfuerzo y las habilidades de su compañero con discapacidad visual. De esta manera también podrán aquilatar la importancia de mantener la disposición del espacio para facilitar el desplazamiento de su compañero.
        </p>

    </div>

    

</div>
