
@{
    ViewBag.Title = "gafas";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Lentes Inteligentes</h2>

<div class="row">
    <div class="col-md-4" style="margin-top:30px">
        <img src="~/src/gafas.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Son Los Lentes Intenligentes?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Los lentes inteligentes son dispositivos tecnológicos que utilizan la realidad aumentada y otras tecnologías para ayudar a las personas a mejorar su visión y realizar tareas cotidianas. Estos dispositivos utilizan tecnología de vanguardia para mejorar la calidad de vida de las personas con discapacidad visual y otros problemas de visión.
            Los lentes inteligentes son una evolución de los lentes tradicionales, ya que no solo mejoran la visión, sino que también ofrecen una amplia variedad de características adicionales.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Caracteristicas
        </h1>
        <p class="lead">* Tecnología de realidad aumentada: Los lentes inteligentes utilizan la tecnología de realidad aumentada para superponer información digital en el campo de visión de la persona.</p>

        <p class="lead">* Cámaras y sensores: Los lentes inteligentes cuentan con cámaras y sensores que capturan y procesan información sobre el entorno y la presentan en tiempo real. </p>
        <p class="lead">* Aumento de la magnificación: Los lentes inteligentes pueden aumentar la magnificación de los objetos cercanos para que sean más fáciles de ver. </p>

        <p class="lead">* Reconocimiento de texto: Los lentes inteligentes pueden utilizar el reconocimiento de texto para identificar objetos y leer texto impreso en tiempo real. </p>
        <p class="lead">* Detección de obstáculos: Los lentes inteligentes pueden detectar obstáculos y alertar al usuario con vibraciones u otras señales. </p>

        <p class="lead">* Comunicación: Algunos lentes inteligentes también pueden incluir características de comunicación, como la traducción de idiomas o la capacidad de enviar mensajes de texto y correo electrónico. </p>
        
    </div>
</div>




<div class="row">


    <div style="max-width: 600px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/IwNiQtxy6ng" title="Así son las gafas que &#39;devuelven&#39; la vista a los invidentes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>