
@{
    ViewBag.Title = "jaws";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Jaws o Lectores De Pantalla</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/jaws.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es Un JAWS o Lectores De Pantalla?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            JAWS (Job Access With Speech) es el lector de pantalla más popular del mundo. Desarrollado para los usuarios de computadora cuya pérdida de visión les impide ver el contenido de la pantalla, o navegar con un mouse. Jaws es un programa lector de pantalla que le provee a las personas ciegas acceso al contenido de la computadora por medio de una voz sintetizada. Con JAWS el usuario podrá acceder a redes sociales, crear documentos, leer el correo electrónico, navegar por la web y mucho más.

        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Caracteristicas</h1>
        <p class="lead">* Incluye dos sintetizadores multilingües a elección: Elocuence y Vocalizer</p>

        <p class="lead">* Ayuda hablada en la instalación</p>
        <p class="lead">* Built-in gratuito DAISY Player </p>

        <p class="lead">* Funciona con Microsoft Office, Internet Explorer, Firefox, y mucho más </p>
        <p class="lead">* Compatible con Windows 8, incluyendo pantallas  táctiles </p>

        <p class="lead">* Su conveniente función OCR proporciona acceso al texto de los documentos PDF, incluso aquellos con imágenes escaneadas que se reportan como documentos vacíos por los lectores de pantalla </p>
        <p class="lead">* Incluye controladores para todas las pantallas Braille populares </p>
        <p class="lead">* Incluye voces para más de 30 idiomas diferentes </p>


    </div>

    <div class="col-md-4">
        <img src="~/src/jawsc.JPG" alt="Descripción de la imagen" width="300" height="300" style="margin-top: 100px; margin-left: 80px">
    </div>

</div>





<div class="row">


    <div style="max-width: 500px; margin: 0 auto; margin-top:30px">
        <iframe width="674" height="379" src="https://www.youtube.com/embed/eNXsNOTmZAA" title="Principales comandos en el uso del lector de pantalla JAWS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>
