
@{
    ViewBag.Title = "juegos";
}

<style>


    .jumbotron {
        margin-top: 10px;
    }

        .jumbotron:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }

    .btn-azul {
        background-color: #337ab7;
        color: black;
    }

    .btn:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Juegos</h2>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3" style="margin-top:30px">
            <img src="~/src/atrapadas.jpg" alt="Descripción de la imagen" width="250" height="300">
        </div>
        <div class="col-md-8" style="margin-left:10px">
            <h1 style="font-size: 24px; font-weight: 700;">El Abrazo</h1>

            <p class="lead" style="text-align: justify;">

                Este juego para ciegos es muy especial para los niños, al igual que el juego anterior se necesita un gran espacio que no tenga obstáculos, también se coloca un pañuelo en los ojos de los niños invidentes, todo los niños con los ojos vendados deben formar un círculo y darse las manos.

                El juego se desarrolla de la siguiente manera, uno de los adultos que se encuentre en la habitación, caminará por toda ella y hablando, el niños debe mediante el sonido de la voz saber dónde está el adulto y atraparlo con un gran abrazo,  se podrá también atrapar a jugadores libres y estos deben ir escapando entre los agujeros que dejan los niños.


            </p>
            
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #FFF4D2 ">
    <div class="row">

        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Codigo Secreto</h1>

            <p class="lead" style="text-align: justify;">
                Se necesita lo mismo que en los juegos anteriores, espacios amplios, sin obstáculos y vendas para los ojos de los niños invidentes además de bloques de gomaespuma. Este juego para ciegos consiste en colocar los objetos o minas en todo el espacio, los niños deben conformar parejas y entre ellos idear un código de números, ruidos y colores que les señale como deben moverse, acá un ejemplo de cómo hacerlo: amarillos parar, verde a la derecha, rosa a la izquierda y el negro para ir derecho.

                Mediante los códigos acordados, las parejas pueden llegar de un extremo a otro evitando las minas que se encuentran en todo el espacio. Si un jugador llegase a tropezar con alguna mina, se le irán restando puntos a los jugadores, los equipos que toquen menos minas serán los ganadores. En este tipo de juegos para ciegos se refuerza la confianza del niño en su compañero.
            </p>
        </div>
        <div class="col-md-3" style="margin-left: 30px; margin-top:60px">
            <img src="~/src/codigosecreto.png" alt="Descripción de la imagen" width="250" height="300">
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3" style="margin-top:80px">
            <img src="~/src/noe.png" alt="Descripción de la imagen" width="250" height="300">
        </div>
        <div class="col-md-8" style="margin-left:10px">
            <h1 style="font-size: 24px; font-weight: 700;">El Arca De Noe</h1>

            <p class="lead" style="text-align: justify;">
                Para este juego se necesitarás un lugar que sea grande y no tenga obstáculos, también harán falta pañuelos para vendar los ojos a los niños, en caso de que dispongan de visión parcial, y un equipo de música para escuchar canciones, igual que pasó en el arca todos los niños se unen a otro para formar parejas, luego se ubican en el centro de la pista donde se encontrará el arca imaginaria.

                También, es de suma importancia tener presente cuando ven los bebes por primera vez.

                Un adulto les dirá al oído el nombre de un animal y el niño irá por la pista imitándolo y haciendo el mismo sonido que el animal el tiempo que dure la música, una vez que la pista termine, el niño debe volver al arca de Noé. Hay que tomar en cuenta que si al niños le tocó un animal que de saltos como la rana o el canguro se debe estar atentos a que no se aleje mucho del sitio específico donde se encuentra para evitar que pueda golpearse con algo.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #FFF4D2 ">
    <div class="row">

        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Barrer El Balon</h1>

            <p class="lead" style="text-align: justify;">
                En el siguiente juego para ciegos se necesitará un balón sonoro, espacio amplio y sin obstáculos, vendas para los ojos y una vara larga. Los niños deben formar grupos de máximo cuatro niños por equipo, se deben formar en una línea de salida y con la vara a la altura del balón, una vez se de el grito de salida, deben ir empujando el balón sonoro hasta llegar a la señal indicada y darle el balón al otro niño del equipo.

                Uno de los jugadores con visión se encargará de indicarle a los otros compañeros como ir a la meta y ganará el equipo que mejor lo haga.
            </p>
        </div>
        <div class="col-md-3" style="margin-left: 30px">
            <img src="~/src/balon.jpg" alt="Descripción de la imagen" width="250" height="300">
        </div>
    </div>
</div>




