
@{
    ViewBag.Title = "orientacion";
}

<style>
    .col-md-6 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-6:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>
<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px;  background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Orientación Sobre Discapacidad Visual</h2>

<div class="row">
    <div class="col-md-6" style="background-color: #C3ACD0; margin-top: 30px; margin-right:10px; margin-left:-10px">
        <img src="~/src/orie1.jpg" alt="Descripción de la imagen" width="250" height="250" style=" margin-top: 30px; margin-left:150px">
        <h1 style="text-align: center; font-weight: 700;">Discapacidad Sensorial</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
           1.- Identifíquese con la persona, que ella sepa con quién se está relacionando. Para ubicarla en el espacio físico

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
           2.- Descríbale verbalmente entornos y escenarios, (izquierda, derecha, adelante,atrás, arriba, abajo).

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            3.- Utilice las manecillas del reloj para contextualizarle en el entorno (por ejemplo,
            al momento de comer podría decir algo así: en su plato, la porción de carne está
            ubicada a las 6, los cubiertos los tiene a las 3, la servilleta está ubicada a las 9).

        </p>
       

    </div>

    <div class="col-md-6" style="background-color: #C3ACD0; margin-top: 30px; margin-right: -10px; margin-left: 10px ">
        <img src="~/src/orie2.jpg" alt="Descripción de la imagen" width="250" height="250" style=" margin-top: 30px; margin-left:150px">
        <h1 style="text-align: center; font-weight: 700;">Para Desplazarse</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            1.- Ofrézcale su ayuda, con mayor razón si

            usted identifica que existe algún obstáculo.
        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            2.-  Ofrézcale su brazo o su hombro, esperando

            que ella lo tome del suyo, lo cual direcciona

            y evita accidentes.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            3.- Camine ligeramente por delante guiando la

            ruta, de acuerdo a su ritmo.

        </p>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            4.- Descríbale el camino anticipando

            obstáculos o posibles dificultades (gradas,

            cruces de calles, desniveles en el piso.

        </p>
    </div>
</div>