
@{
    ViewBag.Title = "Peliculas";
}

<style>


    .jumbotron {
        margin-top: 10px;
    }

     .jumbotron:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }

    .btn-azul {
        background-color: #337ab7;
        color: black;
    }

    .btn:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Peliculas</h2>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/1.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Ensayo Sobre La Ceguera</h1>

            <p class="lead" style="text-align: justify;">
                
                Una misteriosa epidemia de ceguera se propaga en todo un país. Las primeras víctimas son recluidas
                en un hospital sin recibir explicaciones. Entre ellas está una mujer que conserva la vista, pero
                lo mantiene en secreto para poder acompañar a su marido, que se ha quedado ciego. Dentro del hospital
                se impone la ley del más fuerte, lo que dará lugar a todo tipo de atrocidades. Mientras tanto, el caos
                y el terror dominan las calles.
            </p>
            <p><a class="btn btn-default btn-azul" href="https://www.cuevanahd.net/pelicula/a-ciegas/">Ver Pelicula &raquo;</a></p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #FFF4D2 ">
    <div class="row">

        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Esencia De Mujer</h1>

            <p class="lead" style="text-align: justify;">
                Esta película de 1992, dirigida por Martin Brest, cuenta la historia de Frank Slade
                (interpretado por Al Pacino), un hombre invidente y retirado del ejército que decide
                vivir su vida al máximo después de contratar a un joven estudiante para ser su asistente.
                La película es una reflexión sobre la fuerza de voluntad y la determinación, y sobre cómo
                una discapacidad puede no ser un obstáculo para vivir una vida plena.
            </p>
            <p><a class="btn btn-default btn-azul" href="https://www8.cuevana3.ch/4818/esencia-de-mujer">Ver Pelicula &raquo;</a></p>
        </div>
        <div class="col-md-3" style="margin-left: 30px">
            <img src="~/src/2.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/3.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Ray</h1>

            <p class="lead" style="text-align: justify;">
                La película cuenta la vida del legendario músico Ray Charles, quien perdió la vista a los
                7 años pero logró convertirse en uno de los artistas más influyentes del siglo XX. La película muestra
                los altibajos de su carrera, así como sus luchas personales.La vida de Ray Charles es una
                alternancia de triunfos y fracasos personales que se suceden a lo largo de una dilatada y
                galardonada carrera en el mundo del espectáculo.
            </p>
            <p><a class="btn btn-default btn-azul" href="https://www15.cuevana3.to/4094/ray">Ver Pelicula &raquo;</a></p>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #FFF4D2 ">
    <div class="row">

        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">A Primera Vista</h1>

            <p class="lead" style="text-align: justify;">
                Una arquitecta de Nueva York se enamora de un hombre ciego que recupera la vista gracias a
                una operación experimental. Juntos, deben adaptarse a un nuevo mundo lleno de desafíos.Amy visita 
                una clínica de descanso. Allí conoce a Virgil, un masajista ciego del que se enamora. Cuando Virgil 
                se opera para recuperar la vista, descubrirá que el mundo al que tiene que enfrentarse es mucho más 
                complicado que el que tenía en la oscuridad..
            </p>
            <p><a class="btn btn-default btn-azul" href="https://www.pelisonline.me/pelicula/a-primera-vista">Ver Pelicula &raquo;</a></p>
        </div>
        <div class="col-md-3" style="margin-left: 30px">
            <img src="~/src/7.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-3">
            <img src="~/src/10.jpg" alt="Descripción de la imagen" width="200" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Amor A Ciegas </h1>

            <p class="lead" style="text-align: justify;">
                Es una película dramática que cuenta la historia de Ingrid, una novelista exitosa que pierde la
                vista en un accidente de coche que también le cuesta la vida a su esposo. Devastada por la pérdida
                de su vista y su cónyuge, Ingrid se sumerge en una profunda depresión que la lleva a alejarse de
                sus amigos y familiares.Años después empieza a recuperar la pasión por la vida y la escritura gracias
                a la esposa de un empresario imputado, de quien se enamora.
            </p>
            <p><a class="btn btn-default btn-azul" href="https://youtu.be/3DZZok8ZPJA">Ver Pelicula &raquo;</a></p>

        </div>
    </div>

</div>

