
@{
    ViewBag.Title = "perkins";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Máquina De Perkins</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/perkins.jpg" alt="Descripción de la imagen" width="300" height="300">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">¿Qué Es La Máquina Perkins?</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Es una maquina mecánica que permite la escritura en braille.
            La máquina Perkins fue creada por David Abraham La escritura se realiza 
            en forma directa, se escribe tal como se lee.La velocidad de escritura depende 
            de la experiencia de la persona.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Máquina De Escribir Braille Perkins Tradicional.
        </h1>
        <p class="lead">La "Máquina Perkins" es una máquina de escribir mecánica en sistema braille para personas ciegas. Constituye una herramienta fundamental para estudiantes con discapacidad visual de cualquier nivel. </p>
        <p class="lead">El sistema táctil creado por Braille sigue siendo irremplazable como sistema de lecto-escritura para personas con ceguera o baja visión.</p>
        <p class="lead">Con la “Máquina Perkins" se logra la facilidad y velocidad necesarias en la escritura braille permitiendo a los estudiantes llevar adelante la educación en instituciones convencionales de manera integrada. La "Máquina Perkins" es un instrumento confiable, y cuya durabilidad está garantizada por su trayectoria.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Caracteristicas
        </h1>
        <p class="lead"> 6 teclas de escritura (cada una corresponde a uno de los seis puntos que forman el llamado "signo generador" base de la escritura braille. - 1 tecla espaciadora - 1 tecla de bajada de renglón - 1 tecla de retroceso - Área de escritura: 35 líneas, 42 caracteres por línea. - Manija transportadora - Peso: 4,8 kg. Accesorios incluidos: - Punzón Borrador - Funda protectora Garantia: Un año. Tiflonexos es DISTRIBUIDOR OFICIAL en Argentina de las Máquinas de escribir Braille PERKINS Brinda además servicio de mantenimiento y reparación. </p>
        
    </div>
</div>



<div class="row">

    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Máquina De Escribir Braille Perkins Digital.</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Acelera el aprendizaje Fomenta el aprendizaje multisensorial a través de la retroalimentación visual, táctil y auditiva, aumentando la capacidad del estudiante para procesar nueva información y haciendo que el aprendizaje sea divertido.
        </p>
        <p class=" lead">Se integra con la tecnología convencional Edita, guarda y transfiere los documentos en braille a archivos de texto digitales a través de USB, lo que permite a los profesores o padres videntes leer el documento en un ordenador. </p>
        <p class=" lead">Permite una mejor colaboración entre los alumnos y los profesores o padres videntes utilizando letras romanas en la pantalla para reflejar lo que se está escribiendo en braille.</p>
        
    </div>

    <div class="col-md-4">
        <img src="~/src/perkinsDigital.jpg" alt="Descripción de la imagen" width="300" height="300" style="margin-top: 100px; margin-left: 80px">
    </div>

</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            Caracteristicas
        </h1>
        <p class="lead">* Pantalla de video para respuesta instantánea audio y visual – muestra SimBraille e impresora </p>

        <p class="lead">* Texto-a-voz de grupo acapela </p>
        <p class="lead">* Toma de auriculares y control de volumen </p>

        <p class="lead">* Opera como máquina Braille mecánica para uso prolongado </p>
        <p class="lead">* Múltiples lenguajes disponibles </p>

        <p class="lead">* Batería recargable y removible </p>
        <p class="lead">* Edita, guarda y transfiera documentos electrónicos vía US </p>
        
    </div>
</div>



<div class="row">
   

    <div style="max-width: 500px; margin: 0 auto; margin-top:30px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3HNelfRNSy4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>