
@{
    ViewBag.Title = "significado";
}

<style>
    .col-md-8 {
        border-radius: 20px;
    }

    .col-md-12 {
        border-radius: 20px;
    }

    .col-md-4:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-8:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Significado</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/src/definicion.jpg" alt="Descripción de la imagen" width="250" height="250">
    </div>
    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Discapacidad Visual</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Es la condición física que provoca la disminución de la capacidad de ver y dificulta las funciones del sistema visual. Se habla de discapacidad visual al no ser  corregible por los cristales, lentes de contacto, la medicación o la cirugía.
            Mientras tanto, se considera discapacidad visual a cualquier alteración de la vista, ya sea parcial o total.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            ¿Qué Es La Discapacidad Visual?
        </h1>
        <p class="lead">
            La discapacidad visual se suele relacionar con las personas que son ciegas o prácticamente ciegas; sin embargo, esto no sería lo correcto.
            Existen dos parámetros para medir la definición visual:
        </p>
        <p class="lead">1.-	Agudeza visual: es la capacidad de distinguir las formas de los objetos a cierta distancia.</p>
        <p class="lead">2.- Campo visual: es el ángulo que el ojo puede ver, esto corresponde a 90º en cada ojo. Una persona con un campo visual normal es capaz de ver objetos en una amplitud de 180º en el plano horizontal y 140º en el vertical, mientras que el campo visual combinado para ambos ojos de una persona “legalmente ciega” es igual o inferior a 10 grados.</p>
    </div>
</div>

<div class="row">

    <div class="col-md-8" style="background-color: #C3ACD0; margin-top: 30px;">
        <h1 style="text-align: center;">Grados De Discapacidad Visual</h1>
        <p class="lead" style="text-align: justify; margin-bottom: 30px">
            Para medir el grado de discapacidad visual se tiene en cuenta la visión que la persona tiene en su mejor ojo utilizando la mejor corrección con lentes posible. A continuación te indicamos los diferentes grados de discapacidad visual:

        </p>
        <p class=" lead">* 20/30 a 20/60: pérdida de visión leve o visión casi normal.</p>
        <p class=" lead">* 20/70 a 20/160: discapacidad visual moderada o baja visión moderada.</p>
        <p class=" lead">* 20/200 a 20/400: discapacidad visual grave o baja visión severa. </p>
        <p class=" lead">* 20/500 a 20/1000: discapacidad visual casi total o ceguera casi total. </p>
        <p class=" lead">* Falta de percepción de la luz: ceguera total.</p>

    </div>

    <div class="col-md-4">
        <img src="~/src/significado1.jpg" alt="Descripción de la imagen" width="250" height="250" style="margin-top: 100px; margin-left: 80px">
    </div>

</div>

<div class="row">
    <div class="col-md-12" style="text-align: justify; clear: both; margin-top: 40px;background-color: #C3ACD0">
        <h1 style="text-align: center">
            ¿Qué Es La Ceguera Legal?
        </h1>
        <p class="lead">
            En España se considera a una persona «legalmente ciega» cuando su agudeza visual a pesar de llevar gafas o lentes de contacto es diez veces menor de lo normal en el mejor ojo, o el campo visual no es superior a 10 grados
        </p>
        <h1 style="text-align: center">
            ¿Cuando Se Considera Discapacidad Visual?
        </h1>
        <p class="lead">
            A partir de un determinado número de dioptrías se puede considerar una discapacidad visual más o menos grave. Esto es lo que sucede con la miopía magna, que se considera una patología visual.

            La miopía magna no es motivo en sí de discapacidad visual; esto dependerá del campo visual y la agudeza visual.

            Cuando el paciente tiene gran diferencia de graduación entre un ojo y otro, puede llegar a perder absolutamente la visión del ojo que no usa, lo que causaría una discapacidad visual.

            Si necesitas saber más información sobre esta discapacidad o necesitas que te ayudemos a solicitarla contacta con nosotros.
        </p>
       
    </div>
</div>
