
@{
    ViewBag.Title = "tipos";
}

<style>


    .jumbotron {
        margin-top: 10px;
    }

        .jumbotron:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }

    .btn-azul {
        background-color: #337ab7;
        color: black;
    }

    .btn:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }


</style>

<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px;  background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Tipos</h2>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/baja-visio.jpg" alt="Descripción de la imagen" width="300" height="300" >
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Baja Vision</h1>

            <p class="lead" style="text-align: justify;">
                se refiere a una disminución moderada o severa de la capacidad visual. Las personas con baja visión tienen dificultades para ver los detalles, leer letras y números pequeños, reconocer caras y objetos a distancia y percibir el contraste y los colores. Los factores que pueden causar baja visión incluyen la edad, lesiones oculares, enfermedades oculares, y deficiencias nutricionales. Algunas ayudas visuales que pueden ayudar a las personas con baja visión incluyen lupas, telescopios, dispositivos de lectura con voz y pantallas de ordenador con letras grandes.
            </p>
           
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/ceguera.jpg" alt="Descripción de la imagen" width="300" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Ceguera</h1>

            <p class="lead" style="text-align: justify;">
                se refiere a la pérdida total de la visión. Las personas con ceguera no pueden ver nada o sólo pueden percibir la luz y la oscuridad. Las causas de la ceguera pueden ser genéticas, congénitas o adquiridas debido a lesiones o enfermedades oculares, como la retinopatía diabética, el glaucoma o la degeneración macular. Las personas ciegas utilizan herramientas y tecnologías de apoyo, como bastones blancos, perros guía, lectores de pantalla y braille, para ayudarles en la vida diaria.
            </p>

        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/daltonismo.jpg" alt="Descripción de la imagen" width="300" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Daltonismo</h1>

            <p class="lead" style="text-align: justify;">
                se refiere a una disfunción en la percepción de los colores. Las personas con daltonismo tienen dificultades para distinguir ciertos colores, especialmente el rojo y el verde, y pueden percibir los colores con una tonalidad diferente a la normal. El daltonismo es una enfermedad hereditaria y afecta más comúnmente a los hombres que a las mujeres. Las personas con daltonismo pueden necesitar adaptaciones específicas en el trabajo o en casa, como el uso de señales de tráfico con diferentes formas y texturas o el uso de software de corrección de color en la computadora.
            </p>

        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/degeneracion.jpg" alt="Descripción de la imagen" width="300" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Degeneración Macular</h1>

            <p class="lead" style="text-align: justify;">
                Se refiere a una enfermedad degenerativa de la retina que puede causar pérdida de la visión central. Las personas con degeneración macular pueden tener dificultades para leer, reconocer rostros y realizar tareas que requieren una visión detallada. La degeneración macular es más común en personas mayores de 50 años y se debe a cambios en la retina relacionados con la edad. Las opciones de tratamiento incluyen terapia de luz, terapia de inyección, terapia de fotodinámica y cirugía de implante de retina.

</div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/glaucoma.jpg" alt="Descripción de la imagen" width="300" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Glaucoma</h1>

            <p class="lead" style="text-align: justify;">
                se refiere a una enfermedad del ojo que daña gradualmente el nervio óptico. Las personas con glaucoma pueden tener dificultades para ver objetos periféricos o tener visión borrosa. La causa exacta del glaucoma es desconocida, pero se cree que está relacionada con el aumento de la presión intraocular. Las opciones de tratamiento pueden incluir medicamentos para reducir la presión intraocular, cirugía oculoplástica y terapias de láser.
            </p>

        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 20px; background-color: #C3ACD0 ">
    <div class="row">
        <div class="col-md-4">
            <img src="~/src/rempiopia.jpg" alt="Descripción de la imagen" width="300" height="300">
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 24px; font-weight: 700;">Retinopatía Diabética</h1>

            <p class="lead" style="text-align: justify;">
                La retinopatía diabética es una enfermedad ocular que afecta a las personas con diabetes. La diabetes puede dañar los vasos sanguíneos de la retina, lo que puede provocar una pérdida de la visión y, en casos graves, la ceguera. La retinopatía diabética se divide en dos tipos: no proliferativa y proliferativa.
            </p>

        </div>
    </div>
</div>