
@{
    ViewBag.Title = "Video1";
}

<style>

    .col-md-12 {
        border-radius: 20px;
        background-color: #C3ACD0;
        margin-top: 10px;
    }

    


    .col-md-12:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    .btn-azul {
        background-color: #337ab7;
        color: black;
    }

    .btn:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Videos Interactivo</h2>


<div class="row">
    <div class="col-md-12 text-center" style="margin-top: 30px; font-family: 'Times New Roman'" >
        <img src="~/src/video1.png" alt="Descripción de la imagen" width="600" height="300" style="margin-top:20px; margin-bottom:20px">

        
        <p class="lead" style="text-align: justify; margin-bottom: 30px; font-weight: 700;">
            ingresa al enlace para poder visualizar un video sobre la discapacidad visual en donde tendras que estar atento, debido a que durante el video habran actividades a realizar!!!
        </p>
        <p><a class="btn btn-default btn-azul" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver Video&raquo;</a></p>
        

    </div>
  

</div>