
@{
    ViewBag.Title = "VideosPropios";
}




<style>
   

    .jumbotron {
        background-color: #C3ACD0;
        margin-top: 10px;
        
       
    }

    .jumbotron:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
    }
 
 
</style>


<h2 style="text-align: center; border-radius: 20px; margin-bottom: 30px; background-color: #337ab7; padding: 5px; font-size: 72px; font-family: 'Times New Roman' ;">Videos Propios</h2>

<div class="jumbotron" style="border-radius: 20px; ">
    <div class="row">
        <div class="col-md-6">
            <iframe style="margin-left:-30px" width="480" height="380" src="https://www.youtube.com/embed/OgCRdTxCEic" title="ONCE Educación - Los colores de las flores" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h1 style="text-align: center">Titulo</h1>

            <p class="lead" style="text-align: justify;">
                Es una plataforma diseñada como recurso educativo abierto (REA) para promover el
                uso de medios audiovisuales como cortometrajes, películas y videos con el fin de sensibilizar a la
                población sobre la discapacidad visual.
            </p>
            
        </div>
    </div>
</div>


